<h1>Chocolate</h1>
<p>
    Besides baking, I LOVE chocolate. After trying all of the small batch dark chocolates I wanted to try making some of my own. 
    The one catch is that it requires a melanger/refiner which is hard to find in a size that makes sense for an apartment and is a reasonable price.
    For Christmas, I got one and I have had a blast making my own choclate. It is a laborious process, but it is absolutely worth it. The resulting chocolate is delightful.
</p>
<app-slider [content]="chocolateLinks"></app-slider>