@import '../../styles/colors.scss';
@import '../nav/_nav-variables.scss';

:host {
    // TODO: fix this;
    font-size: 20px;
}

.header {
    display: flex;
    cursor: pointer;

    label {
        padding-right: 5px;
        cursor: pointer;
    }

    &:hover {
        label {
            text-decoration: underline;
        }
    }
}

.expanded-section {
    height: auto;
    position: absolute;
    margin-top: $nav-padding + $nav-border-size;

    .subpages-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    app-nav-link {
        padding: 10px;
        width: 100%;
        background-color: $accent-grey;

        &:hover {
            background-color: $light-grey;
        }
    }
}