<p>
  I am currently helping to build tooling to visualize and train Machine Learning models as a software engineer at Criteo. 
  I am working full stack on the frontend using angular and on the server connecting to the DB in scala. 
  A separate team is responsible for getting the data in ElasticSearch and SQL and I work closely with them to clarify requirements. 
  Sometimes I jump in to work on their code base to help get data we need when they are busy working on other higher priority work. 
</p>
<label>Current Tech Stack</label>
<ul>
  <li>Angular 6</li>
  <li>Typescript</li>
  <li>SCSS</li>
  <li>Karma</li>
  <li>Jasmine</li>
  <li>Node Js</li>
  <li>Scala</li>
  <li>ElasticSearch</li>
</ul>

<label>Responsibilities</label>
<ul>
  <li>Scrum Master</li>
</ul>
