<div class="slider-container" *ngIf="content && content.length > 0">
  <div class="left arrow" (click)="previous()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="content">
    <ng-container *ngIf="isImageSlider">
      <img src="{{getContent()}}">
    </ng-container>
    <ng-container *ngIf="!isImageSlider">
      <div>
        {{getContent()}}
      </div>
    </ng-container>
  </div>
  <div class="right arrow" (click)="next()">
    <i class="fas fa-chevron-right"></i>
  </div>
</div>