<div class="slider-container" *ngIf="content && content.length > 0" [ngStyle]="{ 'max-width': maxWidth}">
  <div class="left arrow" (click)="previous()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="content">
    <ng-container *ngIf="isImageSlider">
      <div class="image" [ngStyle]="{ 'background-image': 'url(' + getContent() + ')'}"></div>
    </ng-container>
    <ng-container *ngIf="!isImageSlider">
      <div>
        {{getContent()}}
      </div>
    </ng-container>
  </div>
  <div class="right arrow" (click)="next()">
    <i class="fas fa-chevron-right"></i>
  </div>
</div>